
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>free css template 170</title>
<link href="/static/css/dash.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
    <!-- begin #header -->
    <div id="header">
    	<div class="logo">Dash<span>Board</span></div>
        <div class="mainMenu">
        <div>	
            <div id="active"><a href="">Home</a></div>
            <div id="button"> <a href="/account" target="blank"> Account settings</a> </div>
            <div id="button"> <a href="/statistics" target="blank"> Statistics</a> </div>
            <div id="button"> <a href="/logout" target=""> Logout</a> </div>

        </div>   
        </div>
        <div class="headerPic">
        	
        </div>
    </div>
    <!-- end #header -->
    <!-- begin #mainContent -->
    <div id="mainContent">
    	<div class="p1Top"></div>
        <div class="p1Body">
        	<div class="box">
            	<p>
                	<b>Account settings is used to change your details such as username, email, password.. <br/>
                </p>
            </div>
            <div class="box">
            	<p>
                	<b>Statistics is where you can view your network operations.<br/>
                </p>
            </div>
            <div class="box">
            	<p>
                	<b>Log out takes you to the welcome page where you need to login to proceed.<br/>
                </p>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="p1Bottom"></div>
        <br />
        
   
</body>
</html>
