
<body>
 <h1> <b> ADD/REMOVE Node </b> </h1> 

<br>
<br>
<input type="button" position:abssolute; value="Remove Node 1">
<br>
<br><br>
<input type="button" value="Remove Node 2">
<br>
<br><br>
<input type="button" value="Remove Node 3">
<br>
<br><br>
<input type="button" value="Remove Node 4">
<br>
<br><br>
<button type="button" style="background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:5%;margin-bottom:20%">
<input type="button" position:absolute; size="200px" value="ADD NODE">
<br>
</div>
</div>

</body></html>


