
		
	
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content="Your description goes here"/>
	
<meta name="keywords" content="your,keywords,go,here"/>
	
<meta name="author" content="Brandon Booth"/>
	<title>Statistics Template</title>

	
<link rel="stylesheet" type="text/css" href="/static/css/statistics.css" title="default" media="screen,projection"/>

</head>
<body>


<div id="header">
	
<div id="branding">
		<h1>Statistics Page</h1>
		
	
</div>
	<div id="navigation">
		<ul>
			
<li><a href="/dash" class="current" title="Link1">Home </a></li>
	
		<li><a href="/account" title="Link2">Edit</a></li>
		
	
			
		</ul>
	
</div> <!--END navigation div-->
</div> <!--END header div-->
	

<div id="page">

	<div id="content">
		
<h2 class="page-title">Smart NET</h2>
	
		<p>
				
Smart net is our software development project				T			
</p>
			
				
				<ul>
										
<li>Aboout</li>

		
<h5>Statistics</h5>
			
<ul>
				
<li><a href="#" title="Link1">CPU Utiliztion</a></li>
	
<li><a href="#" title="Link2">RTT</a></li>

<li><a href="#" title="Dolor">Bandwidth</a></li>
				
<li><a href="#" title="Sit amet">Free Memory</a></li>
	
<li><a href="#" title="Sit amet">Used Memory</a></li>
		
</ul>
		</div>
	</div> <!--END sidebar>			</ul>
		
</div>
	
</div> <!--END sidebar div-->


</div> 
<br/> 

</body>
</html>

